body {
    background-color: #666666;
}

.banner{
	height:250px;
}

.banner img{
	position:relative;
	top:40px;
	display: block;
	margin: auto;
}

h1 {
	position: relative;
	top: 10px;
	color: white;
	font-family: arial;
	font-size: 70px;
	text-align: center;
}

nav {
	position:relative;
	right: 10px;
	text-align: center;
	font-family: arial;
	font-size: 20px;
	background-color: #222222;
	padding:1px;
	width: 100vw;
}


nav a {
	text-decoration:none;
	color: white;
}

nav a:hover{
	color: orange;
}

nav li{
	display: inline;
	padding-right: 50px;
}

.container{
	position:relative;
	width: 100vw;
	height: 500px;
	right: 8px;
	background-color: #fff;
}

.container_labboek{
	position:relative;
	width: 100vw;
	height: 2850px;
	right: 8px;
	background-color: #fff;
}


.content{
	font-family: arial;
	font-size: 20px;
	width: 700px;
	margin: auto;
	padding-top: 50px;
}

.content p {
	line-height: 1.7em;
	color: #222222;
}

.content a{
	text-decoration:none;
	margin-left: 3em;
	font-weight:600;
	color: #90C3D4;
}





span{
	color: #888888;
}

.content a:hover{
	color:orange;
}

.footercontent{
	text-align:center;
	font-family: arial;
	font-size: 15px;
	width: 700px;
	margin: auto;
}

