
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #341D16;
    font-size: 18px;
    background-color: #efeeda;
}


#home_banner {
    padding: 0px;
    width: 100vw;
    height: 100vh;
    flex: 1;
    background:
        linear-gradient(
            rgba(0,0,0,0.2),
            rgba(0,0,0,0.2)
        ),
        url(nio_demon.png);
    background-size: cover;
    width: auto;
    margin: 0 auto;
    color: #ffffff;
}

#navbar {
    background-color: #000;
    padding: 1em 3em;
    margin-bottom: 1em;

}

#navbar li {
    display: inline;
}

#navbar li a {
    color: #fff;
    text-decoration: none;
}

#navbar li a:hover{
    color: #383838;
}

#home_navi {
    position: fixed;
    margin: 0 auto;
    width: 100vw;
    text-align: center;
    bottom: 10%;
}

#home_navi ul {
    font-size: calc(10px + 1vw);
    list-style-type: none;
}

#home_navi li {
    margin: 1em;
    display: inline;
    list-style-position: inside;
}

#home_navi li a {
    padding: 1em;
    border-style: solid;
    color: #fff;
    text-decoration: none;
}

#home_navi li a:hover {
    color: #383838;
    background-color: rgba(0,0,0, 0.8);
}

#home_inner_banner {
    position: relative;
    top: 50%;
    -ms-transform: perspective(1px) translateY(-30%);
    -webkit-transform: perspective(1px) translateY(-30%);
    transform: perspective(1px) translateY(-30%);
    padding: 20px 80px;
    text-align: center;
    font-size: 3.6vw;
}

#home_inner_banner h4 {
    padding-top: 1em;
    font-size: 2.2vw;
}

#page_content {
    margin: 0 auto;
    width: 95vw;
    max-width: 700px;
}

#page_content h1 {
    padding-bottom: 20px;
    font-size: calc(20px + 9vw);
    color: #852312;
    text-align: center;
}

#page_content h3 {
    padding-bottom: 15px;
    font-size: calc(15px + 5vw);
    color: #852312;
    text-align: center;
}

#page_content p {
    padding-bottom: 3em;
    line-height: 1.4em;
}


#page_content a {
    text-decoration: none;
    font-weight: bold;
    color: #bf2c00;
}

@media screen and (min-width: 700px) {
    #page_content h1 {
        font-size: 90px;
    }
    #page_content h3 {
        font-size: 50px;
    }
    #divider {
        font-size: 150px;
    }
}

#whiteground {
    background-color: #fff;
    padding: 1vw;
    border-style: solid;
    border-width: 1vw;
    border-color: #bf2c00;
}

#artwork {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 90vw;
}

#artwork img{
    display: inline;
    margin: 2px;
    max-height: calc(30vw);
    width: auto;
}
