
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #0F0A08;
    background-color: #efeeda;
}

#homepage {
    display: flex;
}

#home_banner {
    padding: 0px;
    width: 100vw;
    height: 100vh;
    min-height: 720px;
    flex: 1;
    background:
        linear-gradient(
            rgba(0,0,0,0.2),
            rgba(0,0,0,0.2)
        ),
        url(nio_demon.png);
    background-size: cover;
    width: auto;
    margin: 0 auto;
    color: #ffffff;
}

#navi {
    margin: 0 auto;
    background-color: #8E270B;
    flex: 0 0 300px;
}

#navi img {
    display: block;
    padding-bottom: : 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}

#navi p {
    padding: 2em;
    font-size: 18px;
    text-align: center;
}

#navi ul {
    padding: 0 0.8em;
    font-size: 30px;
    list-style-type: none;
}

#navi li {
    padding: 0.4em 0;
}

#inner_banner {
    position: relative;
    top: 50%;
    -ms-transform: perspective(1px) translateY(-40%);
    -webkit-transform: perspective(1px) translateY(-40%);
    transform: perspective(1px) translateY(-30%);
    padding: 20px 80px;
    text-align: center;
    font-size: 3.6vw;
}

#inner_banner h4 {
    padding-top: 1em;
    font-size: 2.2vw;
}
